<?xml version="1.0" encoding="UTF-8"?>


    <!-- ... -->
    <beans:bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <beans:property name="prefix" value="" />
        <beans:property name="suffix" value=".html" />
        <beans:property name="templateMode" value="HTML5" />
        <beans:property name="cacheable" value="false" /> <!-- Development only -->
    </beans:bean>

