
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Classmate</title>

<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/classmate.css" />
</head>
<body>
	<div id="wrap">

		<div id="main-entire" class="container">

			<div id="top" class="row">
				<div class="col-sm-4">logo</div>
				<div class="col-sm-6">
					<h1 id="SITE_NAME">CLASSMATE ACADEMY</h1>
					<h2 id="SUB_TITLE">Powered by IIT</h2>
				</div>
			</div>

			<body id="main">
				<div class="row">
					<div id="naviWrap" class="col-sm-12">
						<nav class="navbar navbar-default navbar-inverse"
							role="navigation">
							<div class="navbar-header">

								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target=".navbar-ex1-collapse">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>

								<div class="collapse navbar-collapse navbar-ex1-collapse">
									<ul class="nav navbar-nav">
										<li class="hidden"></li>
										<li class="space"><a href="home.html">Home</a></li>
										<li class="dropdown space"><a href="aboutUs.html">About
												Us</a> <!-- <ul class = "dropdown-menu">
                              <li><a href = "#achievements.html">Achievements</a></li>
                              <li><a href = "#team.html">Team</a></li>
                            </ul> --></li>
										<li class="dropdown space"><a href="#"
											class="dropdown=toggle" data-toggle="dropdown">Classes<b
												class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><a href="#liveclasses.html">Live Classes</a></li>
												<li><a href="#newbatches.html">New Batches</a></li>
												<li><a href="#schedule.html">Schedule</a></li>
											</ul></li>
										<li class="dropdown space"><a href="#"
											class="dropdown=toggle" data-toggle="dropdown">Tests<b
												class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><a href="test.html">Online Tests</a></li>
												<li><a href="#testseries.html">Test Series</a></li>

											</ul></li>
										<li class="dropdown space"><a href="#"
											class="dropdown=toggle" data-toggle="dropdown">Material<b
												class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><a href="#previouspapers.html">Previous Papers</a></li>

											</ul></li>
										<li class="space"><a href="#contactus.html">Contact
												Us</a></li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="column">
							<div id="ABOUT_US">

								<p>
									Classmate Academy is providing the coaching exclusively for all
									entrance exams conducted by Staff Selection Commission.</br> Courses
									offered by Classmate Academy:</br> Classroom Coaching:
								<ul>

									<li>SSC CGL Tier I.</li>
									<li>SSC CGL Tier II.</li>
									<li>SSC CGL Interview Guidance.</li>
									<li>SSC CHSL.</li>
									<li>SSC CPO.</li>

								</ul>
								Paper based test series - CGL & CHSL.</br> ​Online Services:</br> Online
								Test Series - CGL Tier I, CGL Tier II, CHSL. Live Online
								Classes.
								</p>

							</div>
						</div>

					</div>

				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="column">
							<div id="ACHIEVMENTS">
								<h4>ACHIEVEMENTS</h4>
								<p>
									We are proud to say that Md.ROSHAN student of Classmate Academy
									secured All India Rank 44 in CSE 2014 (IAS).</br> Classmate Academy
									Student got ICET-2015 State 1st Rank</br> SSC-CGL 2013
								<ul>
									<li>72 final selections</li>
									<li>19 selections for the posts in Income Tax and Central
										Excise.</li>
								</ul>

								SSC-CGL 2014​
								<ul>
									<li>124 final selections</li>
									<li>90 interview and 34 non-interview</li>
									<li>263 selections in Tier I</li>
									<li>204 selections in Tier II</li>
									<li>Topper marks in the Tier II final list - 506 marks -
										Southern Region 2nd highest marks​​</li>
								</ul>

								</p>


							</div>

						</div>


					</div>
					<div class="col-sm-4">
						<div class="column">
							<div id="TEAM">
								<h4>OUR TEAM</h4>
								<p>
								<ul>
									<li>Venkata Krishna Reddy CAPF AIR-7, Asst. Commandant-
										CISF</li>
									<li>K.V. Aravinda Reddy* (M.Tech, IIT Kharagpur)
										(*Honorary)</li>
									<li>K C S Reddy (B.Tech., Mech., IIT-DH) Civils IAS Exam
										and IIT JEE Faculty</li>
									<li>V Anvesh Reddy (B.Tech, Elec., IIT Madras)</li>
									<li>Thangabalan* (M.Sc., Univ. of Stuttgart, Germany)
										(*Honorary) (IAS 2013 - AIR 891)</li>
									<li>M Sai Aditya (B.Tech, Civil Engg., IIT Kharagpur)</li>
									<li>Pradeep Kumar Raju (MBA)​</li>


								</ul>


								</p>

							</div>

						</div>


					</div>

				</div>




				<div id="footer" class="row">
					<div class="col-sm-2">Follow us on</div>
					<div class="col-sm-8">
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav">
								<li class="hidden"></li>
								<li><a href="#home.html">Home</a></li>
								<li><a href="#aboutUs.html">About Us</a></li>
								<li><a href="#">Classes</a></li>
								<li><a href="#">Tests</a></li>
								<li><a href="#">Material</a></li>
								<li><a href="#">Contact us</a></li>

							</ul>
						</div>
					</div>
					<div class="col-sm-2">Copyright &copy; 2012 Classmate Academy</div>
				</div>
			</body>

			<script src="js/jquery-1.11.3.min.js"></script>
			<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
			<script src="app/js/classmate.js"></script>
			<script>

  //When DOM loaded create the html elements
  $(document).ready(function() {
    Classmate.init();
  }); 
  </script>
</html>