<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Classmate</title>
<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/classmate.css" />
</head>
<body>
	<div id="wrap">
		<div id="main-entire" class="container">

			<div id="top" class="row">
				<div class="col-sm-4">logo</div>
				<div class="col-sm-6">
					<h1 id="SITE_NAME">CLASSMATE ACADEMY</h1>
					<h2 id="SUB_TITLE">Powered by IIT</h2>
				</div>
			</div>
			<body id="main">
				<div id="topNav" class="row"></div>
				<div class="row">
					<div class="col-sm-9">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class=""></li>
								<li data-target="#myCarousel" data-slide-to="0" class=""></li>
								<li data-target="#myCarousel" data-slide-to="0" class=""></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img class="img-rounded" src="img/images.JPG" alt="Hub City Winner" title="Hub City Winner" />
								</div>
								<div class="item">
									<img class="img-rounded" src="img/images.JPG" alt="Hub City Winner" title="Hub City Winner" />
								</div>
								<div class="item">
									<img class="img-rounded" src="img/images.JPG" alt="Hub City Winner" title="Hub City Winner" />
								</div>
							</div>

							<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span
								class="glyphicon glyphicon-chevron-left"></span>
							</a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span
								class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>


						<div class="row">
							<div class="col-sm-12">
								<div class="column">
									<h4 id="WLCOME">WELCOME TO CLASSMATE ACADEMY</h4>
									<p id="WELCOME_NOTE">Classmate Academy is an initiative of IITians to prepare the students in all spheres of life. We
										at classmate academy emphasize on overall improvement of the student.Now a days competitive exams play a major role in
										getting into the most prestigious jobs. Taking that into consideration we are providing coaching for SSC-CGL, UPSC exams
										etc. The growing importance of these entrance exams suggests the need for students to undergo extra training to face
										such exams confidently.Our main aim is to impart quality professional education and meeting the rising expectations of
										young aspirants in SOUTH INDIA. CLASSMATE ACADEMY has been striving to achieve the objective of pursuit of excellence by
										students..</p>
									<h4>INTERACTIVE CLASSES</h4>
									<p id="INTC_CLASSES">All classes are conducted in a state-of-the-art environment that connects you to instructor and
										the content in a most effective manner.</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="column">
									<h4>Misson Statement</h4>
									<p>To be a leading provider of excellent classroom and online coaching for SSC CGL.</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="column">
									<div id="LATEST_NEWS">
										<p>​TIer II @ 02.10.2015 Test Series @ 09.10.2015 2014 CGL Results 300+ Selections in Tier I 2015</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="column">
									<div id="STUDENT_RESOURCES">
										Our Students have access to
										<ul>
											<li>SSC CGL Coaching</li>
											<li>SSC CHSL Coaching</li>
											<li>SSC Cpo Coaching></li>
											<li>Test Series</li>
											<li>Online Test Series</li>
											<li>Online Live Classes</li>
											<li>And Many More......</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="row">
							<div class="col-sm-12">
								<div class="column">
									<h4>Student Notice Board</h4>
									<p>Powered by IITians SSC CGL PURE MATHS NEW BATCH @ 02.10.2015. Daily 2:15-5:15pm Tier II, CHSL and Tier I Test
										Series Admissions are in Progress.</p>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="column">
									<h4>Results</h4>
									<p>Reults can be scrolled here</p>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="column">
									<h4>Tweets</h4>
									<p>Tweet can be scrolled here</p>

								</div>

							</div>
						</div>

					</div>

				</div>
			</body>
			<div id="footer" class="row"></div>
		</div>
	</div>
</body>



<script src="js/jquery-1.11.3.min.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="app/js/home.js"></script>
<script src="app/js/loadfooter.js"></script>

<script th:inline="javascript">
    var footer = [[${footer}]];
  $(document).ready(function() {
	  jQuery.get("navigationbar.html", function(data){
		    jQuery("#topNav").append(data);
		});
    	home.init(footer);
  }); 
</script>
</html>