
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Classmate</title>

<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/classmate.css" />
</head>
<style>
.checkbox {
	margin-left: 20px;
}

#USERNAME, #PASSWORD {
	margin-bottom: 15px;
}

#LOGIN_COLUMN {
	padding: 60px;
}

#LOGIN {
	background: rgba(122, 130, 136, 0.2) !important;
}

.panel-heading {
	background: rgba(122, 130, 136, 0.2) !important;
}

.panel-title {
	color: #FFFFFF;
}

.space {
	margin-bottom: 10px;
	align: center;
}
</style>




<div id="wrap">
	<div id="main-entire" class="container">
		<div id="top" class="row">
			<div class="col-sm-4">logo</div>
			<div class="col-sm-6">
				<h1 id="SITE_NAME">CLASSMATE ACADEMY</h1>
				<h2 id="SUB_TITLE">Powered by IIT</h2>
			</div>
		</div>

		<div id="topNav" class="row"></div>

		<div id="main">

			<div class="row">

				<div class="col-sm-9">


					<div class="column" id="ONLINETESTDIV">
						<h2>LOG IN</h2>
						<div id="LOGIN_COLUMN">

							<div class="panel panel-default" id="LOGIN">
								<div class="panel-heading">
									<div class="panel-title text-center">Login to your account</div>
								</div>

								<div class="panel-body">

									<form action="#" th:action="@{/login}" th:object="${credentialModel}" method="post">
										<div id="INVALID_USER_DIV" th:if="${isError} == true">
											<span id="INVALID_USER">Invalid User </span>
										</div>
										<div class="input-group" id="USERNAME">
											<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input id="uid" type="text"
												class="form-control" name="uid" value="" placeholder="User" required="" th:field="*{uid}" />
										</div>

										<div class="input-group" id="PASSWORD">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> <input id="password" type="password"
												class="form-control" name="password" placeholder="Password" required="" th:field="*{password}" />
										</div>

										<div class="form-group">
											<!-- Button -->
											<div class="col-sm-12 controls">
												<label class="checkbox"><span><input type="checkbox" id="CHECKBOX_REMEBER" name="remember" value="1" /></span>Remember
													me </label>
												<button type="submit" href="#" class="btn btn-primary pull-right">
													<i class="glyphicon glyphicon-log-in"></i> Log in
												</button>
											</div>
										</div>

										<div class="forgot-password">
											<h5>Forgot your password</h5>
											<a href="#">Click here </a>
										</div>

									</form>

								</div>


							</div>

						</div>

						<p>Test Series @ 01-08-2015. All 6 tests (cost-200/-)(different papers apart from ongoing test series) along with the
							solutions to important questions are uploaded. Please wait for 90 sec while loading. Payment should me made only through
							Desktop Login ( payment through mobile app is not available), but exams can be given through mobile app.</p>



					</div>
					<div class="column" id="TESTSERIES" style="display: none;">
						<p>TEST SERIES GO HERE</p>


					</div>

				</div>

				<div class="col-sm-3">
					<div class="column">
						<ul class="nav nav-pills nav-stacked">
							<li class="active space" id="ONLINE_TESTS"><a href="#">Online Tests</a></li>
							<li class="active space" id="TEST_SERIES"><a href="#">Test Series</a></li>
							<li class="active space" id="NEW_USER"><a href="#">New Users </a></li>


						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="js/jquery-1.11.3.min.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="app/js/classmate.js"></script>
<script src="app/js/login.js"></script>
<script src="app/js/loadfooter.js"></script>

<script th:inline="javascript">
var footer = [[${footer}]];
var homeProperties = [[${home}]];
var resultProperties = [[${results}]];
var tweetsProperties = [[${tweets}]];
$(document).ready(function() {
	$('#NEW_USER').click(function(){
        // window.location.href='registration.html';
         window.open('registration', '_blank');
                             })
          $("#TEST_SERIES").click(function(){
             $("#TESTSERIES").show();
             $("#ONLINETESTDIV").hide();

          });
            $("#ONLINE_TESTS").click(function(){
             $("#ONLINETESTDIV").show();
             $("#TESTSERIES").hide();

          });
  jQuery.get("navigationbar.html", function(data){
	    jQuery("#topNav").append(data);
	});
	//home.init(footer, homeProperties, resultProperties, tweetsProperties);
}); 
                 
                 </script>
</html>