<div class="row">
	<div id="naviWrap" class="col-sm-12">
		<nav class="navbar navbar-default" id="NAVBAR" role="navigation">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav" id="NAVBAR_UL">
						<li class="hidden"></li>
						<li class="space"><a href="home.html">Home</a></li>
						<li class="dropdown space"><a href="aboutus">About Us</a></li>
						<li class="dropdown space"><a href="classes">Classes</a></li>
						<li class="dropdown space"><a href="tests">Tests</a></li>
						<!-- <li class="dropdown space"><a href="#" class="dropdown=toggle" data-toggle="dropdown">Tests<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="login.html">Online Tests</a></li>
								<li><a href="#testseries.html">Test Series</a></li>

							</ul></li> -->
						
						<li class="dropdown space"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Material<b class="caret"></b></a>
							<ul class="dropdown-menu">
								  <li class= "DROPDOWN"><a href = "material">Material</a></li>
  								   <li class = "DROPDOWN"><a href = "previouspapers">Previous Papers</a></li>


							</ul></li>
						<li class="space"><a href="contactus">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>